.post-container
  .top-wrapper
    .top-wrapper__icon
      = post.user.user_name[0]
    .top-wrapper__user-name
      = post.user.user_name 
    .top-wrapper__menu
    - if user_signed_in?
      .top-wrapper__menu--signed-in
        = fa_icon "ellipsis-h"
  .image-wrapper
    = image_tag "test-image.jpg", {width: "598", height: "598"}
  .content-wrapper
    .content-wrapper__function
      .content-wrappper_function--left
        = fa_icon "heart"
      .content-wrapper__function--right
      - if user_signed_in?
        .content-wrapper_function--right__signed-in
          = link_to "/posts/#{post.id}/edit", {class: "link"} do
            = fa_icon "edit"
          = link_to "/posts/#{post.id}", {class: "link", method: "delete"} do
            = fa_icon "trash"
    .content-wrapper__text
      %input.grad-trigger#trigger1{type: "checkbox"}
      %label.grad-btn{for: "trigger1"}
        続きを読む ...
      %div.grad-item
        = post.text
        ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
    .content-wrapper__time
      = post.updated_at
    .content-wrapper__comment
      コメントを追加...
